body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:ghostwhite;
}

h1 {
    text-align: center;
    font-size: 6rem;
    margin-bottom: 50px;
    font-style: italic;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

    

button {
    height: 200px;
    width: 200px;
    padding: 20px;
    font-size: 7rem;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    background-color: aquamarine;
}

button:hover {
    background-color: aqua;
}

#botDisplay,
#playerDisplay,.score{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 4rem;
    font-weight: bold;
}

#resultDisplay {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 5rem;
    font-weight: 900;
}

.greentext ,#pscore{
    color: green;
}

.redtext ,#bscore{
    color: red;
}

.greytext {
    color: gray;
}