body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 3rem;
    font-weight: bold;
    color: aliceblue;
    background-color: rgb(51, 51, 51);
    border: none;
    cursor: pointer;
}
button:hover{
        background-color: hsl(0, 0%, 30%);
}
button:active{
        background-color: hsl(0, 0%, 10%);
}
.opbtn{
    background-color: rgb(231, 124, 1);
}.opbtn:hover{
    background-color: hsl(32, 99%, 30%);
}.opbtn:active{
    background-color: hsl(32, 99%, 50%);
}
.clrbtn{
    background-color: rgb(0, 89, 255)  ;
}.clrbtn:hover{
    background-color: hsl(219, 100%, 30%)  ;
}.clrbtn:active{
    background-color: hsl(219, 100%, 50%)  ;
}
.eqlbtn{
    background-color: rgb(63, 165, 42);
}.eqlbtn:hover{
    background-color: hsl(110, 59%, 30%);
}.eqlbtn:active{
    background-color: hsl(110, 59%, 50%);
}
#key {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 10px;


}

#calc {
    background-color: rgb(119, 110, 110);
    padding: 40px;
    border-radius: 20px;
    width: auto;
    
}

#display {
    
    width: 410px;
    font-size: 5rem;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 5px solid rgb(145, 145, 145);
    background-color: aquamarine;
    color: black;
}