body{
background-image: url(background.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
margin: 0;
}
#clock-container{
    display: flex;
    border: 2px solid black;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
#clock{
    font-family: monospace;
    font-size: 6rem;
    font-weight: bolder;
}