
body{
    text-align:left;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    font-size:1em;
    padding: 5px;
    border-radius: 50px;
    margin:1px;
    cursor: pointer;
    background-color: rgba(194, 253, 116, 0.822);
}
button:hover{
    background-color: rgba(116, 210, 253, 0.822);
}
#subResult{
    font-size: 1em;
    margin: 20px;
    font-weight: bold;
}
#paymentResult{
    font-size: 1em;
    margin: 20px;
    font-weight:bold;
}