.buton{
    /* background-color: aliceblue; */
    padding: 2rem;
    border-radius:50px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

@keyframes change-color-anim {
  0% { background-color: #ff4500; } /* Red-orange */
  25% { background-color: #7fff00; } /* Green-yellow */
  50% { background-color: #00bfff; } /* Deep sky blue */
  75% { background-color: #ff1493; } /* Deep pink */
  100% { background-color: #ff4500; } /* Back to start color */
}
